body {
    overflow-x: hidden;
}


/*-------------------------first page------------------------*/
.logo{
    position: absolute;
    margin-top: 1em;
}
.panel{
    padding: 0;
}
.container{
    padding: 0;
}
.feature_page {
    /*background-image: url(images/features/bg1_1.jpg);*/
    /*height: 592px;*/
    background-size: 1351px 525px;
    background-repeat: no-repeat;
}

.hedr {
    margin-top: 10em;
}

span.atndnc,
span.fdbck {
    font-size: 36px;
    color: white;
    position: relative;
    top: -21px;
}

.frst_pg {
    position: absolute;
    right: 2.6em;
    top: 20em;
    color: white;
}

.frst_para {
    font-size: 20px;
    position: relative;
    left: 6.4em;
    top: -3.5em;
}

.nav-color{
background-color:#22aae2;
border-radius: 0px 0px 200px 0px;

}
.nav-width{
width:48%;
overflow:hidden;
}
.nav-border{
border-top:2px solid #22aae2;
margin-top: 6em;
}

.navbar-inverse .navbar-nav>.active>a{
    background-color: #e73a59 !important;
}

img.logo_design{
    margin-left: 5%;
    margin-bottom: 11px;
    /*margin-top: 11px;*/
}
.rit_hdr{
    position: relative;
    /*top: 1.3em;*/
    left: 2.2em;
    z-index: 10;
}
img.twitter_icon{
    position: relative;
    top: 5px;
}

img.google_icon{
        position: relative;
    left: -8px;
    top: 3px;
}

img.utube_icon{
    position: relative;
    top: 5px;
}


img.skype_icon{
position: relative;
    top: 2.3em;
    float: left;
    left: 2.5em;
}

.navigation{
    position: absolute;
    width:100%;
        /*margin-top: 1em;*/
}
/*---------------------------second row--------------------------------------*/

.secnd_row,
.fourth_row,
.sixth_row,
.eighth_row {
    margin-top: 118px;
    position: relative;
    left: 9em;
}

span.marks_memo,
span.hostl_managmnt,
span.webinar {
    position: relative;
    top: -19px;
    left: 8px;
    font-size: 30px;
}

p.scnd_para {
    position: relative;
    top: -3em;
    left: 6em;
    font-size: 16px;
}

.second_mac {
    position: relative;
    left: -1em;
}


/*-----------------------third row------------------------------------------*/

.third_row {
    /*background-image: url(images/features/bg2_1.png);*/
    height: 445px;
    background-size: 1350px 438px;
    background-repeat: no-repeat;
}

.thrd_row_right {
    position: absolute;
    right: -1.5em;
    top: 10em;
}

p.third_para {
    position: relative;
    top: -2.1em;
    left: 6em;
    color: white;
}

span.fdbck {
    position: relative;
    top: -13px;
    left: 3px;
}


/*---------------------------Fourth row--------------------------------------------*/

p.fourth_para {
    position: relative;
    top: -3em;
    left: 6.8em;
    font-size: 16px;
}


/*----------------------------Fifth Row----------------------------------------------*/

.fifth_row {
    /*background-image: url(images/features/bg3.jpg);*/
    height: 445px;
    background-size: 1350px 438px;
    background-repeat: no-repeat;
}

.fifth_row_right {
    margin-top: 147px;
    position: absolute;
    right: 5em;
}

p.fifth_para {
    position: relative;
    top: -2.3em;
    left: 7.2em;
    color: white;
}


/*-----------------------------------Sixth row----------------------------------------------*/

p.sixth_para {
    position: relative;
    top: -2.6em;
    left: 5.7em;
    font-size: 16px;
}

.sixth_mac {
    position: relative;
    left: 8%;
}


/*---------------------Seventh_row-----------------------------------------*/

.seventh_row {
    /*background-image: url(images/features/bg4.png);*/
    height: 445px;
    background-size: 1350px 438px;
    background-repeat: no-repeat;
}


/*----------------------------------eighth row----------------------------*/

.eighth_row {}


/*------------------------------footer----------------------------------*/

.last_ftr {
    background: #22aae2;
}

.ftr_bx {
        margin-top: 90px;
    margin-left: 185px;
    position: relative;
    bottom: 3em;
}

.fotr_bx2 {
    margin-top: 1em;
}

p.ftr_cont {
    color: white;
    font-size: 24px;
    position: relative;
    left: -1.4em;
}

img.fotr_icn7 {
    margin-top: 9px;
}


p.fotr_cont2.ftr_cont {
    position: relative;
    top: 15px;
}

p.fotr_cont3.ftr_cont {
    position: relative;
    top: 5px;
}
img.fotr_icn6 {
    margin-top: -10px;
}

.online{
    position: relative;
    top: 3.4em;
}

.rd_mat{
    position: relative;
    top: 12px;

}

img.fotr_icn4{
    position: relative;
    top: -1em;
}
/*------------------------------------*/